# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
ReactAppBlanco/node_modules

# production
ReactAppBlanco/build

# misc
.DS_Store
ReactAppBlanco/npm-debug.log
