# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
ReactJS/ReactAppBlanco/node_modules

# production
ReactJS/ReactAppBlanco/build

# misc
.DS_Store
ReactJS/ReactAppBlanco/npm-debug.log
