<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Nosotros</h2>
  <p>
    Amazing Places es un sitio en el que podrás encontrar información sobre los mejores lugares para visitar en la ciudad de Medellín, Colombia.
  </p>
  {{#link-to 'contact' class="button"}}
    Contrata Ahora!
  {{/link-to}}
</div>
{{outlet}}
