<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contáctanos</h2>
  <p>si quieres conocer los mejores lugares de interés de la Ciudad de Medellín contáctanos.</p>
  <p>
    Amazing Places
    <address>
      Universidad de Antioquia<br>
      Medellín
    </address>
    <a href="tel:57.3153662918">(57) 315-3662918</a><br>
    <a href="mailto:wmolina98@gmail.com">wmolina98@gmail.com</a>
  </p>
  {{#link-to 'about' class="button"}}
    Sobre Nosotros
  {{/link-to}}
</div>
{{outlet}}
